export JAVA_HOME=$(/usr/libexec/java_home -v 17)
export ANDROID_HOME=$HOME/Android/sdk
PATH_add $ANDROID_HOME/platform-tools
PATH_add $ANDROID_HOME/cmdline-tools/latest/bin
PATH_add $ANDROID_HOME/build-tools/36.0.0