POWERSYNC_INSTANCE_URL=
POWERSYNC_SERVICE_ID=
POWERSYNC_REGION=
POWERSYNC_SYNC_RULES_FILE=sync-rules/manger_data.yaml

SUPABASE_PROJECT_URL=
SUPABASE_ANON_KEY=
SUPABASE_DIRECT_DATABASE_URL=

POWERSYNC_REPLICATION_ROLE=powersync_role
POWERSYNC_REPLICATION_PASSWORD=replace-me-before-running-sql
